<div class="text-center">
  <h1>コメント編集画面 </h1>
</div>
<div class="row justify-content-center">
  <div class="col-8 border border-primary p-2 rounded mt-3" id="content-color">
<h2>コメント</h2>
    <%= form_with(model: [@post, @comment]) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <%= f.text_area :comment_content, class: 'form-control p-1 mb-3', required: true %>
      <% if @comment.comment_file.present?  %>
          (中身：<%= @comment.comment_file_identifier %>)
      <% end %>
      <%= f.file_field :comment_file, class: 'form-control mb-3' %>
      <%= f.hidden_field :file_cache %>
      <%= f.hidden_field :post_id, value: @post.id %>
  </div>
    <div class="text-center mt-3">
      <%= f.submit '更新', class: 'btn btn-primary w-50' %>
    </div>
    <div class="text-center">
      <%= link_to "キャンセル",:back, class: "btn btn-secondary w-50 m-3", data: { confirm: "更新せずもとの画面に戻りますか？" } %>
    </div>
  <% end %>
</div>