<div class="text-center">
  <h1><%= @user.name %>さんのお気に入り一覧</h1>
</div>
<% if @favoritings.any? %>
  <ul class="list-unstyled mt-2">
    <% @favoritings.each do |favorite| %>
      <li class="col-sm-6 offset-sm-3">
         <div class="border border-primary p-sm-2 my-1 rounded">
          <div class="text-center">
            <p>ユーザー：<%= link_to favorite.user.name, user_path(favorite.user), class: "text-decoration-none" %></p>
            <p>タイトル：<%= favorite.title %></p>
            <p>内容：<%= favorite.content %></p>
            <p>ファイル：<a href=<%= favorite.file.url %> download> <%= favorite.file_identifier %></a></p>
            <p class="text-muted">posted at <%= favorite.created_at %></p>
          </div>
         <div>
         <div class="d-flex justify-content-around">
           <% if current_user == favorite.user %>
              <%= link_to "Delete", favorite, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
            <% end %>
            <% if current_user.favoriting?(favorite) %>
              <%= form_with(model: current_user.favorites.find_by(post_id: favorite.id),  method: :delete) do |f| %>
              <%= hidden_field_tag :post_id, favorite.id %>
                <%= f.submit 'お気に入り解除', class: 'btn btn-danger btn-sm' %>
              <% end %>
            <% else %>
               <%= form_with(model: current_user.favorites.build) do |f| %>
                <%= hidden_field_tag :post_id, favorite.id %>
                <%= f.submit 'お気に入り登録', class: 'btn btn-primary btn-sm' %>
               <% end %>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%== pagy_bootstrap_nav(@pagy) %>
<% end %>