<div class="text-center">
  <h1><%= @user.name %>さんのお気に入り</h1>
</div>
<% if @favoritings.any? %>
  <ul class="list-unstyled mt-2">
    <% @favoritings.each do |favorite| %>
      <li class="col-sm-6 offset-sm-3">
        <div class="border border-primary p-sm-2 mx-2 p-2 rounded  mb-3" id="content-color">
         <div class="row">
            <div class="col-3 p-1 text-center">
              <p><%= link_to favorite.user.name, user_path(favorite.user), class: "text-decoration-none" %></p>
              <%= image_tag favorite.user.image.url, class: "image" %>
            </div>
            <div class="col-9">
              <div class="text-left">
                <p id="post-title">【<%= favorite.subject_id %>】<%= favorite.title %></p>
                <p><%= favorite.content %></p>
                <p><a href=<%= favorite.file.url %> download> <%= favorite.file_identifier %></a></p>
                <p class="text-muted">  投稿日時： <%= favorite.created_at.to_s(:datetime) %></p>
              </div>
              <div class="col-5" id="favorite_<%= favorite.id %>">
                 <%= render 'userlikebutton', { favorite: favorite }%>
              </div>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%== pagy_bootstrap_nav(@pagy) %>
<% else %>
  <p id="nopost">まだお気に入りはありません</p>
<% end %>