<% if logged_in? %>
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <%= render 'posts/posts', posts: @posts %>
    </div>
  </div>
<% else %>
　<div class="container">
    <div class="row mb-5">
      <div class="col-lg-6" id="topimage">
        <%= image_tag 'mathematics-pana.png', class: "image" %>
      </div>    
      <div class="col-lg-6">
        <div class="text">
          <h2>「生徒と向き合う時間」のために</h2>
          <p class="title">授業に役立つプリントや教具を共有し合い、効率よく授業の準備をできるようにしよう。<br>
            多忙な教員の手助けをするアプリです。
             </p>
        </div>
        <div class="text-center text-lg-start">
          <%= link_to "はじめる", signup_path, class: 'btn btn-primary', id: "btnp"%>
          <%= link_to "ゲストログイン", guest_path, method: :post, class: 'btn btn-danger' %> ☚クリック
        </div>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-lg-6">
        <div class="text2">
          <h2>検索機能</h2>
          <p class="title">投稿内容を検索することができます<br>
          詳細検索で、校種や教科を絞って検索することもできます</p>
        </div>
      </div>
      <div class="col-lg-6">
        <%= image_tag '検索.png', class: "image" %>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-lg-6" id="topimage">
        <%= image_tag 'コメント.png', class: "image" %>
      </div>    
      <div class="col-lg-6">
        <div class="text2">
          <h2>コメント機能</h2>
          <p class="title">コメントし合うことができます。<br>
            教材を互いに改善し合うこともできます。
             </p>
        </div>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-lg-6">
        <div class="text2">
          <h2>お気に入り</h2>
          <p class="title">投稿内容をお気に入りすることができます<br>
          お気に入り画面で一覧を確認できます</p>
        </div>
      </div>
      <div class="col-lg-6">
        <%= image_tag 'お気に入り.png', class: "image" %>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-lg-6" id="topimage">
        <%= image_tag 'フォロー.png', class: "image" %>
      </div>    
      <div class="col-lg-6">
        <div class="text2">
          <h2>フォロー機能</h2>
          <p class="title">フォローし合うことができます。<br>
            その人の投稿内容をすぐに確認できます。
             </p>
        </div>
      </div>
    </div>
    <h2 class="text-center">さぁ、始めよう！</h2>
    <div class="row justify-content-center">
    <div class="text-center col-8  m-3 p-2 border-primary">
      <%= link_to "はじめる", signup_path, class: 'btn btn-primary', id: "btnp"%>
      <%= link_to "ゲストログイン", guest_path, method: :post, class: 'btn btn-danger' %>☚クリック
    </div>
    </div>
  </div>
<% end %>

