<%= render 'layouts/error_messages', model: f.object %>
  <div class="bg-secondary m-4 p-3 rounded">
    <div class="m-3 mb-4">
      <%= f.label :title, 'タイトル' %>
      <%= f.text_field :title, class: 'form-control form-height w-100', required: true %>
    </div>
    <div class="m-3" id="school_type">
　    <%= f.label :schooltype, '校種' %>
      <%= f.select :schooltype, Post.schooltypes.keys , class: 'form-control' %>
    </div>
    
    <%= render "schoolgrade", f: f %>
    <%= render "schoolsubject", f: f %>
    <%= render "schoolbook", f: f %>
    
    <div class="m-3">
      <%= f.label :content, '内容' %>
      <%= f.text_area :content, class: 'form-control', required: true %>
    </div>

    <div class="m-3">
      <%= f.label :file, 'ファイル' %>
      <%= f.file_field :file, class: 'form-control' %>
      <%= f.hidden_field :file_cache %>
      <%= "投稿可能な拡張子(jpg,jpeg,gif,png,docx,xlsx,pptx,txt,pdf)"%>
    </div>
  </div>