<%= render 'layouts/error_messages', model: f.object %>
  <div class="bg-secondary m-4 p-3 rounded">
    <div class="m-3 mb-4">
      <%= f.label :title, 'タイトル' %>
      <%= f.text_field :title, class: 'form-control form-height w-100', required: true %>
    </div>
    <div class="row m-3 justify-content-start">
      <div  class="col-2" id="school_type">
        <%= f.select :schooltype, Post.schooltypes.keys , class: 'form-control' %>
      </div>
      
      <div class="col-6" id="school_grade">
  　　  　<%= f.select :grade, Post.grades.keys , class: 'form-control　school_type'%>
　　　</div>
　　　
　　　<div class="col-3 school_subject" id="subject_select">
  　　　　<%= f.select :subject_id, Post.subject_ids.keys , class: 'form-control' %>
　　　</div>
    
    　<div class="col-3 subjectbook" id="subjectbook">
  　　　　<%= f.select :schoolbook, Post.schoolbooks.keys , class: 'form-control'%>
  　　　</div>
    </div>
    
    <div class="m-3">
      <%= f.label :content, '内容' %>
      <%= f.text_area :content, class: 'form-control', required: true %>
    </div>

    <div class="m-3">
      <%= f.label :file, 'ファイル' %>
      <% if @post.file.present?  %>
        <% if @post.file_identifier.present? %>
          (中身：<%= @post.file_identifier %>)
        <% else %>
          (ファイル有り)
        <% end %>
      <% end %>
      <%= f.file_field :file, class: 'form-control' %>
      
      <%= f.hidden_field :file_cache %>
      <%= "投稿可能な拡張子(jpg,jpeg,gif,png,docx,xlsx,pptx,txt,pdf)"%>
    </div>
  </div>