<div class="row text-center">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: post) do |f| %>
    <div class="bg-secondary p-sm-4 my-4 rounded">
      <div class="mb-3">
        <%= f.label :title, 'タイトル' %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= f.label :subject_id, '教科' %>
        <%= f.select :subject_id, [['国語', 1], ['社会', 2], ['数学', 3], ['理科', 4], ['英語', 5], ['音楽', 6], ['保体', 7], ['技家', 8], ['美術', 9]] , class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= f.label :content, '内容' %>
        <%= f.text_area :content, class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= f.label :file, 'ファイル' %>
        <%= f.file_field :file, class: 'form-control' %>
      </div>
    </div>
      <%= f.submit '投稿', class: 'btn btn-primary w-50' %>
    <% end %>
   </div>
 </div>