<%= render 'layouts/error_messages', model: f.object %>
  <div class="bg-secondary m-4 p-3 rounded">
    <div class="m-3 mb-4">
      <%= f.label :title, 'タイトル' %>
      <%= f.text_field :title, class: 'form-control form-height w-100', required: true %>
    </div>
    <div class="row render">
      <div class="m-3 col-2" id="school_type">
　      <%= f.label :schooltype, '校種' %>
        <%= f.select :schooltype, Post.schooltypes.keys , class: 'form-control' %>
      </div>
      
      <div class="m-3  col-2" id="school_grade">
  　　　　<%= f.label :grade, '学年' %>
  　　　　<%= f.select :grade, Post.grades.keys , class: 'form-control　school_type' %>
　　　</div>
　　　
　　　<div class="m-3 col-2 school_subject" id="subject_select">
  　　　　<%= f.label :subject_id, '教科' %>
  　　　　<%= f.select :subject_id, Post.subject_ids.keys , class: 'form-control' %>
　　　</div>
    
    　<div class="m-3 subjectbook" id="subjectbook">
  　　　　<%= f.label :schoolbook, '教科書' %>
  　　　　<%= f.select :schoolbook, Post.schoolbooks.keys , class: 'form-control'%>
  　　　</div>
    </div>
    
    <div class="m-3">
      <%= f.label :content, '内容' %>
      <%= f.text_area :content, class: 'form-control', required: true %>
    </div>

    <div class="m-3">
      <%= f.label :file, 'ファイル' %>
      <%= f.file_field :file, class: 'form-control' %>
      <%= f.hidden_field :file_cache %>
      <%= "投稿可能な拡張子(jpg,jpeg,gif,png,docx,xlsx,pptx,txt,pdf)"%>
    </div>
  </div>