<div class="row text-center">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: post) do |f| %>
     <%= render 'layouts/error_messages', model: f.object %>
    <div class="bg-secondary p-sm-4 m-4 rounded">
      <div class="m-3 p-3">
        <%= f.label :title, 'タイトル' %>
        <%= f.text_field :title, class: 'form-control', required: true %>
      </div>

      <div class="m-3">
        <%= f.label :subject_id, '教科' %>
        <%= f.select :subject_id, Post.subject_ids.keys , class: 'form-control' %>
      </div>

      <div class="m-3">
        <%= f.label :content, '内容' %>
        <%= f.text_area :content, class: 'form-control', required: true %>
      </div>

      <div class="m-3">
        <%= f.label :file, 'ファイル' %>
        <%= f.file_field :file, class: 'form-control' %>
        <%= f.hidden_field :file_cache %>
        <%= "投稿可能な拡張子(jpg,jpeg,gif,png,docx,xlsx,pptx,txt,pdf)"%>
      </div>
    </div>
      <%= f.submit '投稿', class: 'btn btn-primary w-75' %>
    <% end %>
      <%= link_to "キャンセル",:back, class: "btn btn-secondary w-75 m-4", data: { confirm: "投稿データを破棄しますか？" } %>
   </div>
 </div>
 