<div class="m-3 subjectbook" id="japanesebooks">
  <%= f.label :schoolbook, '教科書' %>
  <%= f.select :schoolbook, Post.japanesebooks.keys , class: 'form-control'%>
</div>

<div class="m-3 subjectbook" id="societybooks">
  <%= f.label :schoolbook, '教科書' %>
  <%= f.select :schoolbook, Post.societybooks.keys , class: 'form-control'%>
</div>

<div class="m-3 subjectbook" id="mathbooks">
  <%= f.label :schoolbook, '教科書' %>
  <%= f.select :schoolbook, Post.mathbooks.keys , class: 'form-control'%>
</div>

<div class="m-3 subjectbook" id="sciencebooks">
  <%= f.label :schoolbook, '教科書' %>
  <%= f.select :schoolbook, Post.sciencebooks.keys , class: 'form-control'%>
</div>

<div class="m-3 subjectbook" id="musicbooks">
  <%= f.label :schoolbook, '教科書' %>
  <%= f.select :schoolbook, Post.musicbooks.keys , class: 'form-control'%>
</div>

<div class="m-3 subjectbook" id="artbooks">
  <%= f.label :schoolbook, '教科書' %>
  <%= f.select :schoolbook, Post.artbooks.keys , class: 'form-control'%>
</div>

<div class="m-3 subjectbook" id="pebooks">
  <%= f.label :schoolbook, '教科書' %>
  <%= f.select :schoolbook, Post.pebooks.keys , class: 'form-control'%>
</div>

<div class="m-3 subjectbook" id="technologybooks">
  <%= f.label :schoolbook, '教科書' %>
  <%= f.select :schoolbook, Post.technologybooks.keys , class: 'form-control'%>
</div>

<div class="m-3 subjectbook" id="englishbooks">
  <%= f.label :schoolbook, '教科書' %>
  <%= f.select :schoolbook, Post.englishbooks.keys , class: 'form-control'%>
</div>

<div class="m-3 subjectbook" id="lifebooks">
  <%= f.label :schoolbook, '教科書' %>
  <%= f.select :schoolbook, Post.lifebooks.keys , class: 'form-control'%>
</div>

<div class="m-3 subjectbook" id="drawingbooks">
  <%= f.label :schoolbook, '教科書' %>
  <%= f.select :schoolbook, Post.drawingbooks.keys , class: 'form-control'%>
</div>

<div class="m-3 subjectbook" id="homebooks">
  <%= f.label :schoolbook, '教科書' %>
  <%= f.select :schoolbook, Post.homebooks.keys , class: 'form-control'%>
</div>