<div class="row text-left">
  <div class="col-sm-6 offset-sm-3">
    <% if posts.any? %>
      <ul class="list-unstyled">
        <% posts.each do |post| %>
          <li>
            <div class="border border-primary p-sm-2 mx-2 p-2 rounded" id="content-color">
              <div class="row">
                <div class="col-3 p-1 text-center">
                  <p><%= link_to post.user.name, user_path(post.user), class: "text-decoration-none" %></p>
                  <%= image_tag post.user.image.url, class: "image" %>
                </div>
                <div class="col-9">
                  <div class="text-left">
                    <p id="post-title">【<%= post.subject_id %>】<%= post.title %></p>
                    <p><%= post.content %></p>
                    <p><a href=<%= post.file.url %> download> <%= post.file_identifier %></a></p>
                    <p class="text-muted">  投稿日時： <%= post.created_at.to_s(:datetime) %></p>
                  </div>
                  <div  class="container">
                    <div class="row">
                      <div class="col-7">
                        <% if current_user == post.user %>
                          <%= link_to "削除", post, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm btnpd'%>
                          <%= link_to "編集", edit_post_path(post) , class: 'btn btn-primary btn-sm btnpd'%>
                        <% end %>
                      </div>
                      <div class="col-5" id="post_<%= post.id %>">
                        <%= render 'favorites/likebutton', { post: post }%>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
      <%== pagy_bootstrap_nav(@pagy) %>
    <% else %>
      <p id="nopost">該当する投稿はありません</p>
    <% end %>
  </div>
</div>