<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <div class="search-form m-2">
      <%= form_with url: search_path, method: :get, local: true do |f| %>
    詳細検索：<%= f.select :schooltype, Post.schooltypes.keys, value: @schooltype, selected: @schooltype, class: "form-control"%>
    <%= f.select :grade, Post.grades.keys, value: @grade, selected: @grade , class: "form-control"%>
    <%= f.select :subject_id, Post.subject_ids.keys, value: @subject_id, selected: @subject_id, class: "form-control"%>
    <%= f.select :schoolbook, Post.schoolbooks.keys, value: @schoolbook, selected: @schoolbook, class: "form-control"%>
    <h4>&lt;検索><%= f.text_field :keyword, value: @keyword, class: "form-control mt-3"%>
    <%= f.submit "検索" ,class: "btn btn-primary"%></h4>
　<% end%>
    </div>
  </div>
</div>
<% unless @schooltype == "校種" && @grade == "学年" && @subject_id == "教科" && @schoolbook == "教科書" && @keyword == ""%>
<div class="text-center">
 <h1>検索結果</h1>
</div>
<div class="row col-sm-6 offset-sm-3 justify-content-center">
  <div class="text-center search-font">
    <span>検索内容：</span>
      <% unless @schooltype == "校種"%>
        <%= @schooltype%>
      <% end %>
      <% unless @grade == "学年"%>
        <%= @grade%>
      <% end %>
      <% unless @subject_id == "教科"%>
        <%= @subject_id%>
      <% end %>
      <% unless @schoolbook == "教科書"%>
        <%= @schoolbook%>
      <% end %>
      <% unless @keyword == ""%>
       「<%= @keyword %>」
      <% end %>
    </div>
 </div>
 <% end %>
 <%= render 'posts/search', posts: @posts %>