<div class="text-center">
  <h1>投稿詳細画面</h1>
</div>
<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <div class="row justify-content-center">
      <div class="col-3 border border-primary p-2 text-center"  id="content-color">
          <p><%= link_to @post.user.name, user_path(@post.user), class: "text-decoration-none" %></p>
          <%= image_tag @post.user.image.url, class: "image" %>
        </div>
        <div class="col-7 border border-primary p-2 rounded" id="content-color">
        <div class="text-left">
          <p>
            <% unless @post.schooltype == "校種"%>
              校種：<%= @post.schooltype %>
            <% end %>
            <% unless @post.grade == "校種"%>
            　学年：<%= @post.grade %>
            <% end %>
            <% unless @post.subject_id == "教科"%>
            　教科：<%= @post.subject_id %>
            <% end %>
          </p>
          <p>
            <% unless @post.schoolbook == "教科書"%>
            教科書：<%= @post.schoolbook %>
            <% end %>
          </p>
          <p><a href=<%= @post.file.url %> download> <%= @post.file_identifier %></a></p>
          <% if @post.file_identifier.include?(".pdf")  %>
            <object data="<%= @post.file.url %>" type="application/pdf" width="" height=""></object>
          <% end %>
          <p><%= simple_format(h(@post.content)) %></p>
          <p class="text-muted">  投稿日時： <%= @post.created_at.to_s(:datetime) %></p>
              <div  class="container">
                <div class="row">
                  <div class="col-7">
                    <% if current_user == @post.user %>
                      <%= link_to "削除", @post, method: :delete, data: { confirm: "削除しますか?" }, class: 'btn btn-danger btn-sm btnpd'%>
                      <%= link_to "編集", edit_post_path(@post) , class: 'btn btn-primary btn-sm btnpd'%>
                    <% end %>
                  </div>
                  <div class="col-5" id="post_<%= @post.id %>">
                    <%= render 'favorites/likebutton', { post: @post }%>
                  </div>
                </div>
              </div>
        </div>
      </div>
    <%= render 'comments/comments', { post: @post }%>
    <div class="text-center">
      <h2><%= link_to "一覧画面へ", root_path, class: "btn btn-success mt-3" %></h2>
    </div>
  </div>
</div>