 <div class="text-center">
   <h1>「<%= @keyword1%>」の検索結果</h1>
 </div>
 <ul class="list-unstyled">
   <div class="row text-center">
     <div class="col-sm-6 offset-sm-3">
      <% @posts.each do |post| %>
       <li>
         <div class="border border-primary p-sm-2 my-1 rounded">
           <div class="text-left">
             <p>ユーザー：<%= link_to post.user.name, user_path(post.user), class: "text-decoration-none" %></p>
             <p>タイトル：<%= post.title %>[<%= post.subject_id %>]</p>
             <p>内容：<%= post.content %></p>
             <p>ファイル：<a href=<%= post.file.url %> download> <%= post.file_identifier %></a></p>
             <p class="text-muted">posted at <%= post.created_at %></p>
          </div>
          <div  class="d-flex justify-content-center">
            <% if current_user == post.user %>
              <%= link_to "削除", post, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
              <%= link_to "編集", edit_post_path(current_user) , class: 'btn btn-primary btn-sm'%>
            <% end %>
            <% if current_user.favoriting?(post) %>
              <%= form_with(model: current_user.favorites.find_by(post_id: post.id), method: :delete) do |f| %>
             　  <%= hidden_field_tag :post_id, post.id %>
                <%= f.submit 'お気に入り解除', class: 'btn btn-danger btn-sm' %>
              <% end %>
            <% else %>
              <%= form_with(model: current_user.favorites.build) do |f| %>
            　   <%= hidden_field_tag :post_id,  post.id %>
              　<%= f.submit 'お気に入り登録', class: 'btn btn-primary btn-sm' %>
              <% end %>
            <% end %>
          </div>
        </div>
       </li>
      <% end %>
     </div>
    </div>
  </ul>